/*
  *{
    outline: 1px solid red !important;
    box-sitting : border-box;
  }
*/

.hero-image {
      background-image: url("My-Hero-Academia-Banner.png");
    /* Set a specific height */
    height: 40%;
    width:100%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

body {
  background-color:yellow;
}

.footer {
   position: bottom;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: blue;
   color: yellow;
   text-align: left;
}

.hero-text {
  text-align: center;
  position: relative;
  font-family: georgia;
  background: blue;
  background-size: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 90%);
  color: yellow;
}
.navbar ul {
    list-style-type: none;
    margin: 0;

    padding: 0;
    overflow: hidden;
    background-color: #0f2ec6;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #6d6713;
}


.grid{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}


.row {
width: 100%;
margin-bottom: 20px;
display: flex;
}

.col-1{
 width : 100%

}

.col-3{
  width: 30%;
  justify-content: center;
  align-content: center;
  justify: center;
  text-align: center;
  display: block;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.Midoriya-img {
 max-width: 30%;
 max-height: 20%;
}

.Mido-text{
  margin-left: minmax(10px, auto);
  position: absolute;
  width: 30%;
  text-align: center;
  grid-column-start: 1;
  grid-row-start: 2;
}

.Katsu-text{
  margin-top: 10px;
  position: absolute;
  width: 30%;
  text-align: center;
  grid-column-start: 2;
  grid-row-start: 2;
}

.Ocha-text{
  margin-top: 10px;
  position: absolute;
  width: 30%;
  text-align: center;
  grid-column-start: 3;
  grid-row-start: 2;
}

.Midoriya{
  justify-content: center;
  border: solid;
  grid-area: Mido;
  grid-column-start: 1;
  grid-row-start: 1;
}
.Katsuki{
  overflow:hidden;
  border: solid;
  grid-area: Katsu;
  grid-column-start: 2;
  grid-row-start: 1;
}
.Ochako{
  overflow:hidden;
  border : solid;
  grid-area: Ocha;
  grid-column-start: 3;
  grid-row-start: 1;
}
.Top-Students{
  overflow: hidden;
  display:grid;
  margin-bottom: auto;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 400px;
}
