/*
*{
outline: 1px solid red !important;
box-sitting : border-box;
}
*/

.text-center{
  text-align: center;
}



.footer {
   position: bottom;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: blue;
   color: yellow;
   text-align: left;
}

.hero-image {
    background-image: url("Pictures/My-Hero-Academia-Banner.png");
    /* Set a specific height */
    height: 400px;
    width:100%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
  text-align: center;
  position: relative;
  font-family: georgia;
  background: blue;
  background-size: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 90%);
  color: yellow;
}


body {
  background-color:yellow;
}

/* grid for the sections \ */
