
.hero-image {
  background-image: url("Pictures/My-Hero-Academia-Banner.png");
  /* Set a specific height */
  height: 400px;
  width:100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.text-center{
text-align: center;
}

.hero-text {
position: relative;
font-family: georgia;
background: blue;
background-size: auto;
top: 50%;
left: 50%;
transform: translate(-50%, 90%);
color: yellow;
}


/* grid for the 3 sections \ */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #007bff;
  width: 100%;
}


#myCarousel{
background-color: blue;
}

li a {
  display: block;
  color: rgb(255, 255, 255,.5);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: rgba(255, 255, 255, .75);
}

.nav-item-acvite{
  color: rgb(255, 255, 255,1);
}


body {
  background-color:yellow;


    margin-bottom: 60px; /* Margin bottom by footer height */



}

.carousel-caption{
  background-color: rgb(255, 255, 255,.5);
  color: black; 
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: white;
  text-align: center;
}

button{

}


